.man{
    background-color: peru;
}
.hmm{
    background-color: violet;
    display: flex;
    justify-content:center;
    padding: 10px;
}
.hmm{
    padding: 20px;
}
.ok{
    color: snow; 
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.lynn{
    justify-content: center;
}
.hen{
    margin-right: 20px;text-decoration: whitesmoke;
}
.wet{
    color: ghostwhite;text-align: center;padding: 20px;margin-top: 40px;
}
.hen{
    color: black;text-align: center;text-decoration: black;
}
.buva{
    text-align: center;
}
.lynn{
    text-align: center;
}
.ok{
    text-align: center; padding: 50px;font-size: x-large 10000px;font-weight: 30000;
}
.dad{
    font-size: xx-large;font-weight: bolder;
}
.mum{
    font-size: xx-large;font-weight: bolder;
}
.gmm{
    font-size: xx-large; font-weight: bolder;
}
.man{
